<h1>Contacto</h1>

<p>Telefono  :  511-2154600
<p>RPC       :  511-999038031</p>
<p>Correo    :  contacto@taxixpress.pe</p>
<p>Direccion :  Av. Aviacion 3427, San Borja</p>
<iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ86lDZN3HBZER8oAMCkfyack&key=AIzaSyDpDeDDhYoy_zneqoN9g-q5UbKNOVSBb8E" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
<!--<p><%= link_to 'Clients' , clients_path %></p>-->
