<h1>Taxi Xpress</h1>
<p>Seguridad en todo momento</p>
<h2>Bienvenidos a Taxi Xpress</h2>
<p> Taxi express es un una empresa que brinda el servicio de transporte al público en general así como a clientes corporativos.
    Nuestra razón de ser es el cliente, buscamos ofrecer puntualidad, comodidad, y eficiencia en cada servicio que realizamos.
<h2>VISION</h2>   
<p> Ser una empresa reconocida a nivel nacional por el servicio de movilidad en la modalidad de taxi , 
cuyo sinónimo sea de eficiencia y continuo mejoramiento en la calidad de servicio que brinda, 
considerando que las mejoras a nuestras unidades contribuirá al medio ambiente.</p>

<h2>MISION</h2>   
<p> Nuestra misión es prestar un excelente servicio de movilidad tipo taxi, teniendo como principio la mejor atención al cliente,
el uso de tecnología y la motivación de nuestros colaboradores, dando a nuestros clientes un servicio eficiente, honorable, 
ético y responsable.</p>

<h2>OBJETIVOS</h2>
<p>Nuestros objetivos son:</p>
<p>. Posicionar a TAXIXPRESS en el sector empresarial al que vamos dirigidos</p>
<p>. Contar con los mejores conductores y operadores que mostraran la imagen de eficiencia de TAXIXPRESS</p>
<p>. Propiciar eficiencia para ahorrar en el costo de los servicios a los clientes</p>
</p>














